:root {
  --fish-body-color: #000000;
  --fish-eye-color: #ffffff;
  --canvas-bg-color: transparent;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 290px;
}

.container {
  display: flex;
  flex-direction: column;
}

.canvas {
  background-color: var(--canvas-bg-color);
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  color: rgb(0, 0, 0);
  background: white;
  border: 2px solid;
  border-radius: 2px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 1em;
}

.fish {
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;

  box-shadow: 10px 10px 0 0 var(--fish-body-color),
    20px 10px 0 0 var(--fish-body-color), 30px 10px 0 0 var(--fish-body-color),
    80px 10px 0 0 var(--fish-body-color), 90px 10px 0 0 var(--fish-body-color),
    100px 10px 0 0 var(--fish-body-color), 20px 20px 0 0 var(--fish-body-color),
    30px 20px 0 0 var(--fish-body-color), 40px 20px 0 0 var(--fish-body-color),
    60px 20px 0 0 var(--fish-body-color), 70px 20px 0 0 var(--fish-body-color),
    80px 20px 0 0 var(--fish-body-color), 90px 20px 0 0 var(--fish-body-color),
    100px 20px 0 0 var(--fish-body-color), 110px 20px 0 0 var(--fish-body-color),
    30px 30px 0 0 var(--fish-body-color), 40px 30px 0 0 var(--fish-body-color),
    50px 30px 0 0 var(--fish-body-color), 60px 30px 0 0 var(--fish-body-color),
    70px 30px 0 0 var(--fish-body-color), 80px 30px 0 0 var(--fish-body-color),
    90px 30px 0 0 var(--fish-eye-color), 100px 30px 0 0 var(--fish-body-color),
    110px 30px 0 0 var(--fish-body-color), 120px 30px 0 0 var(--fish-body-color),
    40px 40px 0 0 var(--fish-body-color), 50px 40px 0 0 var(--fish-body-color),
    60px 40px 0 0 var(--fish-body-color), 70px 40px 0 0 var(--fish-body-color),
    80px 40px 0 0 var(--fish-body-color), 90px 40px 0 0 var(--fish-body-color),
    100px 40px 0 0 var(--fish-body-color), 110px 40px 0 0 var(--fish-body-color),
    120px 40px 0 0 var(--fish-body-color), 130px 40px 0 0 var(--fish-body-color),
    40px 50px 0 0 var(--fish-body-color), 50px 50px 0 0 var(--fish-body-color),
    60px 50px 0 0 var(--fish-body-color), 70px 50px 0 0 var(--fish-body-color),
    80px 50px 0 0 var(--fish-body-color), 90px 50px 0 0 var(--fish-body-color),
    100px 50px 0 0 var(--fish-body-color), 110px 50px 0 0 var(--fish-body-color),
    120px 50px 0 0 var(--fish-body-color), 130px 50px 0 0 var(--fish-body-color),
    30px 60px 0 0 var(--fish-body-color), 40px 60px 0 0 var(--fish-body-color),
    50px 60px 0 0 var(--fish-body-color), 60px 60px 0 0 var(--fish-body-color),
    70px 60px 0 0 var(--fish-body-color), 80px 60px 0 0 var(--fish-body-color),
    90px 60px 0 0 var(--fish-body-color), 100px 60px 0 0 var(--fish-body-color),
    110px 60px 0 0 var(--fish-body-color), 120px 60px 0 0 var(--fish-body-color),
    130px 60px 0 0 var(--fish-body-color), 20px 70px 0 0 var(--fish-body-color),
    30px 70px 0 0 var(--fish-body-color), 40px 70px 0 0 var(--fish-body-color),
    60px 70px 0 0 var(--fish-body-color), 70px 70px 0 0 var(--fish-body-color),
    80px 70px 0 0 var(--fish-body-color), 90px 70px 0 0 var(--fish-body-color),
    100px 70px 0 0 var(--fish-body-color), 110px 70px 0 0 var(--fish-body-color),
    120px 70px 0 0 var(--fish-body-color), 130px 70px 0 0 var(--fish-body-color),
    10px 80px 0 0 var(--fish-body-color), 20px 80px 0 0 var(--fish-body-color),
    30px 80px 0 0 var(--fish-body-color), 80px 80px 0 0 var(--fish-body-color),
    90px 80px 0 0 var(--fish-body-color), 100px 80px 0 0 var(--fish-body-color);

  animation: fish-anim1 18s linear infinite;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.fish2 {
  position: absolute;
  display: block;
  height: 1px;
  width: 1px;

  box-shadow: 1px 1px 0 0 var(--fish-body-color),
    2px 1px 0 0 var(--fish-body-color), 3px 1px 0 0 var(--fish-body-color),
    8px 1px 0 0 var(--fish-body-color), 9px 1px 0 0 var(--fish-body-color),
    10px 1px 0 0 var(--fish-body-color), 2px 2px 0 0 var(--fish-body-color),
    3px 2px 0 0 var(--fish-body-color), 4px 2px 0 0 var(--fish-body-color),
    6px 2px 0 0 var(--fish-body-color), 7px 2px 0 0 var(--fish-body-color),
    8px 2px 0 0 var(--fish-body-color), 9px 2px 0 0 var(--fish-body-color),
    10px 2px 0 0 var(--fish-body-color), 11px 2px 0 0 var(--fish-body-color),
    3px 3px 0 0 var(--fish-body-color), 4px 3px 0 0 var(--fish-body-color),
    5px 3px 0 0 var(--fish-body-color), 6px 3px 0 0 var(--fish-body-color),
    7px 3px 0 0 var(--fish-body-color), 8px 3px 0 0 var(--fish-body-color),
    9px 3px 0 0 var(--fish-eye-color), 10px 3px 0 0 var(--fish-body-color),
    11px 3px 0 0 var(--fish-body-color), 12px 3px 0 0 var(--fish-body-color),
    4px 4px 0 0 var(--fish-body-color), 5px 4px 0 0 var(--fish-body-color),
    6px 4px 0 0 var(--fish-body-color), 7px 4px 0 0 var(--fish-body-color),
    8px 4px 0 0 var(--fish-body-color), 9px 4px 0 0 var(--fish-body-color),
    10px 4px 0 0 var(--fish-body-color), 11px 4px 0 0 var(--fish-body-color),
    12px 4px 0 0 var(--fish-body-color), 13px 4px 0 0 var(--fish-body-color),
    4px 5px 0 0 var(--fish-body-color), 5px 5px 0 0 var(--fish-body-color),
    6px 5px 0 0 var(--fish-body-color), 7px 5px 0 0 var(--fish-body-color),
    8px 5px 0 0 var(--fish-body-color), 9px 5px 0 0 var(--fish-body-color),
    10px 5px 0 0 var(--fish-body-color), 11px 5px 0 0 var(--fish-body-color),
    12px 5px 0 0 var(--fish-body-color), 13px 5px 0 0 var(--fish-body-color),
    3px 6px 0 0 var(--fish-body-color), 4px 6px 0 0 var(--fish-body-color),
    5px 6px 0 0 var(--fish-body-color), 6px 6px 0 0 var(--fish-body-color),
    7px 6px 0 0 var(--fish-body-color), 8px 6px 0 0 var(--fish-body-color),
    9px 6px 0 0 var(--fish-body-color), 10px 6px 0 0 var(--fish-body-color),
    11px 6px 0 0 var(--fish-body-color), 12px 6px 0 0 var(--fish-body-color),
    13px 6px 0 0 var(--fish-body-color), 2px 7px 0 0 var(--fish-body-color),
    3px 7px 0 0 var(--fish-body-color), 4px 7px 0 0 var(--fish-body-color),
    6px 7px 0 0 var(--fish-body-color), 7px 7px 0 0 var(--fish-body-color),
    8px 7px 0 0 var(--fish-body-color), 9px 7px 0 0 var(--fish-body-color),
    10px 7px 0 0 var(--fish-body-color), 11px 7px 0 0 var(--fish-body-color),
    12px 7px 0 0 var(--fish-body-color), 13px 7px 0 0 var(--fish-body-color),
    1px 8px 0 0 var(--fish-body-color), 2px 8px 0 0 var(--fish-body-color),
    3px 8px 0 0 var(--fish-body-color), 8px 8px 0 0 var(--fish-body-color),
    9px 8px 0 0 var(--fish-body-color), 10px 8px 0 0 var(--fish-body-color);

  animation: fish-anim1 18s linear infinite;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@keyframes fish-anim1 {
  0% {
    margin-left: 10%;
  }
  1% {
    transform: translateY(0) rotateY(0deg);
  }
  49% {
    transform: rotateY(0deg);
  }
  50% {
    margin-left: 90%;
    transform: translateY(0) rotateY(180deg);
  }
  100% {
    margin-left: 10%;
    transform: translateY(0) rotateY(180deg);
  }
  25% {
    transform: rotateY(0deg) translateY(-15px);
  }
  75% {
    transform: rotateY(180deg) translateY(-30px);
  }
}

@keyframes fish-anim2 {
  0% {
    left: 0;
  }
  100% {
    left: 90%;
  }
}

.bubble {
  position: absolute;
  width: 6px;
  height: 6px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 50%;
  animation: bubble 4s linear forwards;
}
@keyframes bubble {
  100% {
    transform: translateY(-200px) rotate(-1080deg);
    opacity: 0;
  }
}

@media all and (max-width: 768px) {
  .fish {
    animation: fish-anim1 8s linear infinite;
  }
}

@media screen and (min-height: 400px) {
  .canvas {
    height: 75vh;
    min-height: 240px;
  }
}
